  #main-div {
    background-color: #f7f8fb;
    box-shadow: 0 0 15px rgba(58, 59, 69, 0.15);
    -webkit-box-shadow: 0 0 15px rgba(58, 59, 69, 0.15);
    -moz-box-shadow: 0 0 15px rgba(58, 59, 69, 0.15);
  }
  
  #sub-title {
    color: #4e73df;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial;
    background-color: #f7f8fb;
    padding: 0px;
    margin: 0px;
  }
  
  #title-table {
    text-align: left;
    margin-top: 20px;
    padding: 14px 30px 14px 30px;
    border-bottom: 0.1px solid #e3e6f0;
    border-top: 0.1px solid #e3e6f0;
    color: gray;
    font-weight: bold;
    font-size: 13px;
    background-color: #ffffff;
  }
  
  table {
    background-color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    color: gray;
    width: 100%;
    border-collapse: collapse;
    border: 0.1px solid #e3e6f0;
  }
